body {
    margin: 0;
    padding: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf0f3;
    min-width: 18.75rem;
}

input {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
    margin-bottom: 0.625rem;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    background-color: rgba(130, 200, 247, 0.541);
}

button {
    background-color: #5f9341;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
}

button:focus {
    outline: 1px solid #c93131;
}

ul {
    margin-top: 1rem;
    list-style-type: none;
    padding-left: 0;
    
}

li {
    padding: 0;
    margin-top: 0.5rem;
}
/* li::marker {
    content: "https://";
    color: #5f9341;
    text-decoration: underline;
} */

li a {
    color: #5f9341;
    margin: 0;
}

/* PARA PRACTICAR */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 100px;
    margin: 20px auto;
    background-color: cornflowerblue;
    font-weight: bold;
}

p {
    color: black;
}